<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<body>
   <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2 class="display-6 fs-4">Editar Artigo</h2>
            </div>
            <div class="card-body">

                <form method="post" action="/articles/save">
                    <div class="d-flex mb-3">
                        <div class="flex-grow-1 me-4">
                            <label class="form-label">Título do artigo:</label>
                            <input type="text" class="form-control" name="title" 
                            placeholder="Digite o titulo do artigo" value="<%= article.title %>" required>
                        </div>
                        <div class="">
                            <label class="form-label">Categoria do artigo:</label>
                            <select class="form-control fw-bold text-black-50" name="categoryId">
                            <% categories.forEach((value)=>{ 
                                if( article.categoryId == value.id){ %>
                                    <option value="<%= value.id %>" selected><%= value.title %></option>
                                <% }else{ %>
                                    <option value="<%= value.id %>"><%= value.title %></option>
                                <% } }) %>
                            </select>
                        </div>
                    </div>

                    <label class="form-label">Conteudo do artigo:</label>
                    <textarea id="formtext" name="body"></textarea>

                    <div>
                        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                    </div>
                </form>
                
            </div>
        </div>
   </div>

   <div id="bodyContent" class="d-none">
        <%- article.body %>
   </div>

</body>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#formtext",
        height: 400,
        plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullpage | ' +
        'forecolor backcolor emoticons | help',
        menu: {
        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
        },
        menubar: 'favs file edit view insert format tools table help',
        content_css: 'css/content.css',
        init_instance_callback: ()=>{
            tinymce.get("formtext").setContent(
                document.getElementById("bodyContent").innerHTML
            )
        }
    })
</script>
<%- include ("../../partials/footer.ejs") %>