<%- include ("./partials/header.ejs") %>
<%- include ("./partials/homenavbar.ejs") %>
<body>
    <div class="container pt-3">
        <div class="jumbotron">
            <h1 class="display-4"> Bem vindo!</h1>
            <p class="lead">Este é um blog de artigos</p>
            <hr class="my-4">
        </div>
        <% articles.forEach(element => { %>
            <div class="card mb-2 single">
                <div class="card-header">
                     <h2 class="display-6 fs-3"><%= element.title %> </h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-sm" href="/<%= element.slug %>"> Leia Mais!</a>
                </div>
            </div>
        <% }); %>
    </div>
</body>
<%- include ("./partials/footer.ejs") %>